body { margin: 0px; padding: 0px; background: #CADDDC; font-size: 62.5%; font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;color: rgb(222, 210, 195);}
#content { font-size: 1.2em; }
#content h2 { border-bottom: 1px solid rgb(60, 50, 45); padding-bottom: 6px; }
.spacer { padding: 11px 0px 0px; text-align: right; clear: both; text-transform: lowercase; }
.narrowcolumn .entry { line-height: 1.4em; }
.narrowcolumn .postmetadata { text-align: left; }
.alt { border-top: 1px dotted rgb(60, 50, 45); border-bottom: 1px dotted rgb(60, 50, 45); color: rgb(222, 210, 195); }
.postmetadata alt { background-color: rgb(37, 29, 27); }
.wp-smiley { border: medium none ; }
img.alignleft { margin: 3px 3px 0px 0pt; float: left; }
img.alignright { margin: 0pt 3px 0px; float: right; }
small { font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; }
small a, small a:link, small a:visited { font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; }
h1, h2, h3 { font-family: 'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif; font-weight: bold; }
h1 { font-size: 3em; text-align: left; padding-left: 428px; }
h2 { font-size: 1.5em; }
h2.pagetitle { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h1, h1 a, h1 a:hover, h1 a:visited { text-decoration: none; color: rgb(238, 238, 238); }
h2, h2 a, h2 a:visited { color: rgb(238, 238, 238); }
h2 a:hover { color: rgb(238, 238, 238); }
h3, h3 a, h3 a:visited { color: rgb(238, 238, 238); }
h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #wp-calendar caption, cite { text-decoration: none; }
.entry p a:visited { color: rgb(222, 210, 195); }
.commentlist li, #commentform input, #commentform textarea { font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; }
.commentlist li { font-weight: bold; font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; }
.commentlist cite, .commentlist cite a { font-weight: bold; font-style: normal; font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; }
.commentlist p { font-weight: normal; line-height: 1.5em; text-transform: none; }
.commentlist a, .commentlist a:link { font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; color: rgb(241, 135, 24); }
.commentlist a:hover { color: rgb(241, 135, 24); text-decoration: none; }
#commentform p { font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; }
.commentmetadata { font-weight: normal; }
small, .nocomments, .postmetadata, strike { color: rgb(222, 210, 195); font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; }
code { font-family: 'Courier New',Courier,Fixed; font-style: normal; font-variant: normal; font-weight: normal; font-size: 1.1em; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
acronym, abbr, span.caps { font-size: 0.9em; letter-spacing: 0.07em; }
a { color: rgb(241, 135, 24); text-decoration: none; }
a:hover { color: rgb(241, 135, 24); text-decoration: underline; }
#page { border: medium none ; margin: 0px auto; padding: 0pt; background: rgb(1, 1, 1) url('mainbackground.jpg') repeat-y scroll 0% 0%; text-align: left; width: 1000px; }
#header { margin: 0pt auto; padding: 0pt; background: transparent url('header.jpg') repeat scroll 0% 0%; height: 300px; width: 1000px; }
.header-title { padding: 136px 0pt 0pt 368px; font-family: 'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif; color: rgb(254, 254, 254); font-size: 33px; font-weight: bold; text-align: left; }
.header-title a { border-bottom: medium none; color: rgb(254, 254, 254); text-decoration: none; }
.header-title a:hover { border-bottom: medium none; color: rgb(254, 254, 254); text-decoration: none; }
.header-description { padding: 5px 0pt 0pt 369px; font-size: 11px; font-family: 'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif; font-weight: normal; color: rgb(90, 72, 60); text-align: left; }
.narrowcolumn { float: left; padding-left: 50px; padding-right: 8px; width: 625px; display: inline; }
.post { text-align: justify; font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; line-height: 1.4em; }
.entrytext ul { margin: 2px; padding-left: 10px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.entrytext ul li, .entrytext ul ol { line-height: 15px; padding-left: 0px; padding-top: 0px; }
.narrowcolumn .postmetadata { padding-top: 5px; }
#footer { margin: 0pt auto; padding: 0pt 0pt 0pt 0px; background: transparent url('footer.jpg') repeat scroll 0% 0%; width: 1000px; height: 78px; clear: both; font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; color: rgb(37, 29, 27); }
#footer p { margin: 0pt; padding: 18px 0pt 0pt; text-align: center; }
#footer a, #footer a:link { color: rgb(37, 29, 27); text-decoration: none; }
#footer a:visited { color: rgb(37, 29, 27); text-decoration: none; }
#footer a:hover { color: rgb(37, 29, 27); text-decoration: underline; }
h1 { margin: 0pt; padding-top: 168px; }
h2 { margin: 15px 0pt 0pt; }
h2.pagetitle { margin-top: 30px; text-align: center; }
h3 { margin: 30px 0pt 0pt; padding: 0pt; }
h3.comments { margin: 40px auto 20px; padding: 0pt; }
html > body .entry ul { padding: 0pt 0pt 0pt 10px; margin-left: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; text-indent: -10px; }
html > body .entry li { margin: 7px 0pt 8px 0px; }
.entry ul li:before { content: "» "; }
.entry ol { padding: 0pt 0pt 0pt 0px; margin-left: 20px; }
.entry ol li { margin: 0pt; padding: 0pt; }
.postmetadata { font-size: 9px; color: rgb(241, 135, 24); text-decoration: none; }
.postmetadata a, .postmetadata a:link, .postmetadata a:visited, .postmetadata a:hover { color: rgb(241, 135, 24); text-decoration: underline; }
.postmetadata ul, .postmetadata li { display: inline; list-style-type: none; list-style-image: none; }
.entry form { text-align: center; }
select { width: 130px; }
#commentform textarea { border: 1px solid rgb(37, 29, 27); padding: 4px; background-color: rgb(254, 254, 254); width: 99%; font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; color: rgb(17, 17, 17); }
input { border: 1px solid rgb(37, 29, 27); padding: 2px; color: rgb(17, 17, 17); font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; text-transform: lowercase; background-color: rgb(254, 254, 254); margin-right: 1px; }
#commentform #submit { border: 1px solid rgb(37, 29, 27); padding: 3px 6px; color: rgb(17, 17, 17); font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; text-transform: lowercase; background-color: rgb(222, 210, 195); }
#commentPreview { border: 1px solid rgb(37, 29, 27); padding: 6px; width: 374px; font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; background-color: rgb(254, 254, 254); }
.alt { margin: 0pt; padding: 10px; }
.commentlist { padding: 0pt; text-align: justify; }
.commentlist li { margin: 15px 0pt 3px; padding: 5px 10px 3px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.commentlist p { margin: 10px 5px 10px 0pt; }
#commentform p { margin: 5px 0pt; }
.nocomments { margin: 0pt; padding: 0pt; text-align: center; }
.commentmetadata { margin: 0pt; display: block; }
#sidebar { float: left; width: 290px; margin-left: -30px; margin-top: -27px; }
.ad { margin: 0pt; padding: 0pt; width: 270px; text-align: center; background-color: rgb(36, 30, 27); }
#sidebar ul { margin-bottom: 0pt; list-style-type: none; color: rgb(222, 210, 195); }
#sidebar ul li, #sidebar ul ul, #sidebar ul ul ul { margin: 0px; padding: 0px; }
#sidebar ul#linkslist { margin: 0px; }
#sidebar ul#linkslist { margin: 0px; }
#wrap > #sidebar ul#linkslist {  }
#sidebar p { margin: 0px; }
#sidebar h2 { font-size: 12px; font-weight: bold; text-transform: uppercase; text-align: left; height: 23px; line-height: 25px; text-indent: 8px; letter-spacing: 1px; color: rgb(11, 9, 8); background-image: url('nav.jpg'); width: 270px; }
#sidebar p { margin-top: 0px; margin-bottom: 0px; color: rgb(222, 210, 195); word-spacing: -1px; font-size: 10px; }
#sidebar ul ul li, #sidebar ul ol li { margin: 0pt; padding: 0pt; font-size: 10px; background-color: rgb(36, 30, 27); }
#sidebar ul ul li a, #sidebar ul ol li a { padding: 5px 0px; font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; width: 270px; background-color: rgb(36, 30, 27); text-indent: 10px; }
#sidebar ul ul li a:link, #sidebar ul ul li a:visited, #sidebar ul ol li a:link, #sidebar ul ol li a:visited { border-top: 1px solid rgb(60, 50, 45); border-bottom: 1px solid rgb(11, 9, 8); padding: 3px 0px; display: block; font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; background-color: rgb(36, 30, 27); font-weight: normal; color: rgb(222, 210, 195); width: 270px; text-indent: 10px; }
#sidebar ul ul li a:hover, #sidebar ul ol li a:hover { border-top: 1px solid rgb(29, 24, 21); border-bottom: 1px solid rgb(11, 9, 8); background-color: rgb(29, 24, 21); font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif; font-size: 11px; font-weight: normal; text-decoration: none; color: rgb(241, 135, 24); text-indent: 10px; }

.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:active { border: 1px solid rgb(0, 102, 204); margin: 2px; padding: 2px 4px; text-decoration: none; color: rgb(0, 102, 204); background-color: rgb(255, 255, 255); }
.wp-pagenavi a:hover { border: 1px solid rgb(17, 68, 119); color: rgb(17, 68, 119); background-color: rgb(255, 255, 255); }
.wp-pagenavi span.pages { border: 1px solid rgb(0, 0, 0); margin: 2px; padding: 2px 4px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
.wp-pagenavi span.current { border: 1px solid rgb(0, 0, 0); margin: 2px; padding: 2px 4px; font-weight: bold; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
.wp-pagenavi span.extend { border: 1px solid rgb(0, 0, 0); margin: 2px; padding: 2px 4px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
.mycomm{padding:5px;border:solid 1px #969696;width:400px;font-size:12px;text-align:left;}
.mycomm a{color:rgb(68,68,68);text-decoration:none;}
.mycomm a:hover{text-decoration:underline;}
.myul li{list-style:none;padding:5px;}
.body{background:#fff;width:802px;margin:0 auto auto;margin-top:70px;margin-bottom:100%;}
.body .prt{background:url(prt.png) no-repeat right top;}
.body .prb{background:url(prb.png) no-repeat right bottom;}
.body .plt{background:url(plt.png) no-repeat left top;}
.body .plb{background:url(plb.png) no-repeat left bottom;}
.section{padding:15px;}
.pix{float:left;padding:10px;margin-top:150px;}
.buy_text{margin-left:240px;}
.buy_text .moodi{margin:15px 0;padding:0;text-align:center;}
.buy_text .moodi a{text-decoration:underline;color:#B91919;font:24px Arial;padding:0;margin:0;cursor:pointer;}
.buy_text .moodi a:hover{text-decoration:none;}
.desc b{color:#333333;padding:0;margin:0;font-family:Arial;font-size:16px;color:#2C2C2C;font-weight:bolder;font-variant:small-caps;}
.desc p{padding:3px 10px;margin:0 0 10px 0;font-family:Arial;font-size:12px;color:#0F0F0F;font-weight:normal;line-height:1.3;}
.orderbutton{list-style-type:none;padding:0;width:127px;height:37px;margin:0 auto auto;}
.orderbutton a{background:url(but.png) no-repeat;display:block;width:127px;height:37px;text-indent:-999em;cursor:pointer;}
.orderbutton a:hover{background-position:right -40px;}
#feed{padding:15px;}
#feed p{color:#636566;padding:0;margin:10px 0;font-family:Arial;font-size:14px;font-weight:bolder;}
#feed table{border: 1px solid #CECECE;font-family:Arial;font-size:13px;text-align:center;margin:0 auto;border-collapse:collapse;width:500px;}
#feed table td{padding:6px;color:#23221F;}
#feed table th{padding:4px;color:#3C3C3C;}
#feed table td.hover{background-color:#D8D8D8;}
.perpill,.price,.checkout{width:80px;}
.checkout a{color:#B41516;font-weight:bolder;}
.checkout a:hover{text-decoration:none;}
.weaccept{text-align:center;font-weight:bolder;font-family:Arial;font-size:12px;color:rgb(15,15,15);line-height:1.3;}
